bs4
click==8.0.3
dataclasses==0.6
datasets
elasticsearch==7.14.0
emoji
fuzzywuzzy==0.18.0
hdfs
numpy
pandas
pyarrow
pydantic
pyspark
python-Levenshtein
pyyaml
seqeval
sklearn
smart_open
spacy==3.2.2
spacy-conll==3.0.2
spacy-legacy==3.0.8
termcolor
toml
