bs4
click==8.1.7
dataclasses==0.6
datasets
elasticsearch==8.6.0
emoji==1.7.0
fuzzywuzzy==0.18.0
#gcsfs
hdfs
huggingface-hub>=0.1.0,<1.0
#huggingface-hub==0.0.12
#mysqlclient
nltk
numpy==1.26.4
omegaconf
opensearch-py
orjson
pandas==2.1.4
protobuf==4.25.1
pyarrow
pydantic==2.8.2
pyspark==3.5.3
python-Levenshtein
pyyaml
seqeval
# sklearn # install by conda install for M1 Mac
smart_open
spacy==3.7.2
#spacy-conll==3.0.2
#spacy-legacy==3.0.8
termcolor
toml
pygsheets
antlr4-python3-runtime
boto3
#google-cloud-storage
#google-cloud-bigquery
#google-cloud-pubsub
sqlalchemy
# sqlalchemy==1.4.50
#sqlalchemy-bigquery
matplotlib
urllib3==1.26.13
pendulum
