bs4
click==8.0.3
dataclasses==0.6
datasets==1.11.0
elasticsearch==7.14.0
fuzzywuzzy==0.18.0
hdfs
numpy
pandas
pyarrow
pydantic
pyspark==2.3.2
python-Levenshtein
pyyaml
seqeval
sklearn
spacy==3.2.2
spacy-conll==3.0.2
spacy-legacy==3.0.8
termcolor
toml
